
<div class="dataPage">
    <p class="resTitle"> Modelos de cálculo NBR-6118 e tabelas correspondentes </p>
    
        <p class="resTitleUnder">Armadura longotudinal</p>
        <p> Dados usados para os cálculos referentes ao Kc e Ks</p>
    
    
        <div class="tables">
            <div class="table1">
                <div class="tableHeaderFck">
                <p> Valores de kc para concretos com fck &lpar;Mpa &rpar; </p>
                </div>
                <div class="dataTable">
                    <div class="datCol">
                        <p>20</p>
                        {{#each col1}}
                        <p> {{this}}</p>
                        {{/each}}
                    </div>
                    <div class="datCol">
                        <p>25</p>
                        {{#each col2}}
                        <p> {{this}}</p>
                        {{/each}}
                    </div>
                    <div class="datCol">
                        <p> 30 </p>
                        {{#each col3}}
                        <p> {{this}}</p>
                        {{/each}}
                    </div>
                    <div class="datCol">
                        <p>35</p>
                        {{#each col4}}
                        <p> {{this}}</p>
                        {{/each}}
                    </div>
                    <div class="datCol">
                        <p>40</p>
                        {{#each col5}}
                        <p> {{this}}</p>
                        {{/each}}
                    </div>
                    <div class="datCol">
                        <p> 45</p>
                        {{#each col6}}
                        <p> {{this}}</p>
                        {{/each}}
                    </div>
                    <div class="datCol">
                        <p>50</p>
                        {{#each col7}}
                        <p> {{this}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
    
           <div class="table2">
                <div class="tableHeaderCa">
                <p> Valores de ks para aços </p>
                </div>
                <div class="tableCa">
                    <div class="dataCol">
                        <p>CA-25</p>
                        {{#each col8}}
                        <p> {{this.ks}}</p>
                        {{/each}}
                    </div>
                    <div class="dataCol">
                        <p>CA-50</p>
                        {{#each col9}}
                        <p> {{this.ks}}</p>
                        {{/each}}
                    </div>
                    <div class="dataCol">
                        <p>CA-60</p>
                        {{#each col10}}
                        <p> {{this.ks}}</p>
                        {{/each}}
                    </div>
                </div>
           </div>
    
    
        </div>
    
    
    <div class="longitudinalSection">
    
        <div class="kcKs">
    
            <p class="resD"> Altura útil &lpar;d&rpar; =  h -e&lpar;cobrimento&rpar;  <span>cm</span></p>
    
            <p class="resValue"> Esforços majorados com &alpha; = 1.4</p>
    
            <p> Md1 = Msk1 &ast; 1.4 &ast; &lpar;KN&ast;cm&rpar; </p>
            <small>Momento fletor positivo de cálculo</small>
    
            <p>Msd2 = Msk2 &ast; 1.4 &ast; &lpar;KN&ast;cm&rpar;</p>
            <small> Momento fletor negativo de cálculo </small>
    
            <p> Vd1 = Vsk &ast; 1.4 &lpar;KN&rpar;</p>
            <small> Cortante máximo de cálculo</small>
    
            <p class="resValue"> Kc e As</p>
            <p> Kc = <sup>bw &ast; d<sup>2</sup></span></sup>&#8260;<sub> Msd</sub> </p>
            <p> As = <sup> Ks&ast; Msd </sup>&#8260;<sub>d</sub></p>
            <small> Área de aço das armaduras longitudinais &rpar; cm<sup>2</sup> &rpar;</small>
        </div>
    
    
        <div class="longitudinalDireita">
            <p class="mt-1"> Tabela dos diâmetros e quantidade de barras por As &lpar;cm <sup>2</sup> &rpar; </p>
            <div class="table3">
                <div class="dmCol">
                    <p class="dmEspHeader">
                    <sup> dm &lpar;mm&rpar; </sup>&#8260;<sub>Barras</sub>
                    </p>
                    <p>5</p>
                    <p>6.3</p>
                    <p>8</p>
                    <p>10</p>
                    <p>12.5</p>
                    <p>16</p>
                    <p>20</p>
                    <p>22</p>
                    <p>25</p>
                    <p>32</p>
                    <p>40</p>
                </div>
    
                <div class="table3Right">
                       <div class="table3Header">
                        {{#each bar}}
                                <p>{{this.nb}}</p>
                        {{/each}}
                       </div>
                    <div class="table3Row">
                        {{#each bar}}
                            <div>
                                {{#each query}}
                                <p class="table3Element">{{this.as}}</p>
    
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                </div>
    
    
            </div>
        </div>
    
    
    
    </div>
    
    
    
    
    <p class="resTitleUnder my-4" > Estribos </p>
    <p class="resTitle">Modelo 1 da NBR-6118</p>
    <di class="estribosSection">
        <div class="estEsquerda ">
            <div class="estribosData">
                <p>fcd = <sup>fck</sup>&#8260;<sub>1.4</sub>
                  &lpar;<sup>KN</sup> &#8260;<sub>m<sup>2</sup> </sub> &rpar;</p>
                <small> Resistência a compressão de cáculo, majorado em &alpha;= 1.4</small>
                <p> fyd = <sub>fyk</sub> &#8260; <sub>1.15</sub> &lpar;<sup>KN</sup> &#8260;<sub>m<sup>2</sup> </sub> &rpar; </p>
                <small> Escoamento do aço escolhido no projeto, majorado em : &alpha; = 1.5</small>
                <p>Vrd<sub>2</sub> = 0,27 * &alpha;v<sub>2</sub>*fcd*bw*d &lpar;KN&rpar;</p>
                <small> Valor do cortante resistente de cálculo. </small>
                <small> Se Vrd > Vsd; usar modelo 1, caso contrário usar o modelo 2 </small>
                <p>&alpha;v<sub>2</sub> = &lpar; 1- &lpar;<sup>fck</sup>&#8260;<sub>250</sub>&rpar;&rpar;</p>
                <p> Vc = 0,6*fctd*bw*d &lpar;KN&rpar;</p>
                <small>Resistência caracteristica do conceto ao cisalhamanto</small>
                <p>f<sub>ctm</sub> = 0,3*fck <sup> <sup>2</sup>&#8260;<sub>3</sub></sup> &lpar;Mpa&rpar;</p>
                <p>fctk<sub>inf</sub> =  0,7*f<sub>ctm</sub> &lpar;Mpa&rpar;</p>
                <p>fctd =<sup>fctk<sub>inf</sub> </sup>&#8260;<sub>1.4</sub> &lpar;
                <sup>KN</sup>&#8260;<sub>m<sup>2</sup> </sub>&rpar;</p>
                <p>Vsw = Vsd - Vc</p>
                <small> Parcela do esforço cortante que é efetivaamente absorvida pelo concreto, se negativa, usar armadura mínima.</small>
                <p>Asw = <sub>Vsw</sub>&#8260;<sub>0,9*d*fyd</sup> &lpar;cm <sup>2</sub>&rpar; </p>
                <small>Área de armadura dos estribos</small>

                <p>Asw<sub>min</sub> = 0.14 &ast; b<sub>bw</sub></p>
                <small>Área de armadura mínima</small>
    
    
            </div>
        </div>
    
    
    
        <div class="estDireita mt-4">
            <p class="mt-0"> Tabela de espaçamento entre estribos e diâmetros por Asw &lpar;cm <sup>2</sup>&rpar;</p>
            {{!-- //Barras dos estribos --}}
            <div class="table4">
    
                <div class="table4RowElements">
                    <div class="table4Col">
                        <p class="espHeader">Espaçamento
                            <br>&lpar;cm&rpar;
                        </p>
                        <p class="table4Elements"> 7  </p>
                        <p class="table4Elements"> 8  </p>
                        <p class="table4Elements"> 9  </p>
                        <p class="table4Elements"> 10 </p>
                        <p class="table4Elements"> 11 </p>
                        <p class="table4Elements"> 12 </p>
                        <p class="table4Elements"> 13 </p>
                        <p class="table4Elements"> 14 </p>
                        <p class="table4Elements"> 15 </p>
                        <p class="table4Elements"> 16 </p>
                        <p class="table4Elements"> 17 </p>
                        <p class="table4Elements"> 18 </p>
                        <p class="table4Elements"> 19 </p>
                        <p class="table4Elements"> 20 </p>
                        <p class="table4Elements"> 21 </p>
                        <p class="table4Elements"> 22 </p>
                        <p class="table4Elements"> 23 </p>
                        <p class="table4Elements"> 24 </p>
                        <p class="table4Elements"> 25 </p>
                        <p class="table4Elements"> 26 </p>
                        <p class="table4Elements"> 27 </p>
                        <p class="table4Elements"> 28 </p>
                        <p class="table4Elements"> 29 </p>
                        <p class="table4Elements"> 30 </p>
                    </div>
    
                    <div class="table4Row2">
                            <p class="dmHeader"> Diâmetro dos estribos simples&lpar;mm&rpar; </p>
                    
                        <div class="dmRow">
                             <p class="table4Element"> 5	</p>
                             <p class="table4Element"> 6.3  </p>
                             <p class="table4Element"> 8	</p>
                             <p class="table4Element"> 10	</p>
                             <p class="table4Element"> 12.5 </p>
                             <p class="table4Element"> 16   </p>
                        </div>
                        <div class="table4Row">
                             {{#each barEst}}
                                <div>
                                    {{#each query}}
                                        <p class="table4Element">{{this.asw}}</p>
                                    {{/each}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>



